# 파이썬 300제 : 171~200 (반복문)

## 회고
- 2차원 리스트 내의 데이터를 활용할 때는 열을 먼저 선택한 뒤 원하는 행을 선택하여 작업하는 방식임을 코드를 작성하면서 익히고 알게 되었다.
- 항상 초기값 잘 설정해두기!!

## 171~180

In [2]:
# 171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [4]:
# 172 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [12]:
# 173 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500

for i in range(len(price_list)):
    for j in range(0, 4, -1):
        print(j, price_list[i])

In [14]:
for i in range(len(price_list)):
    print((len(price_list)-1)-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

-> 활용 가능한 숫자, 규칙을 만드는 연습이 많이 필요하다.  
역순에서는 시작 숫자와 줄어드는 수의 크기를 잘 설정하고, 빼기를 잘 활용해보자!

In [19]:
# 174 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

for i in range(len(price_list[1:])):
    print(100+10*i, price_list[i+1])

100 32150
110 32000
120 32500

In [27]:
# 175 my_list를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

for i in range(0, 3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [29]:
# 176 리스트를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

for i in range(0, 3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [31]:
# 177 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가

for i in range(0, 3):
    print(my_list[len(my_list)-1-i], my_list[len(my_list)-2-i])

라 다
다 나
나 가

-> range에서부터 역순으로 한다면 아래와 같다.

In [35]:
my_list = ["가", "나", "다", "라"]

for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [39]:
# 178 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
my_list = [100, 200, 400, 800]
# 예를 들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
# 100
# 200
# 400

for i in range(len(my_list)):
    a = my_list[i+1] - my_list[i]
    print(a)

100
200
400

IndexError: list index out of range

In [ ]:
-> 리스트 인덱스 번호가 리스트 길이를 초과하여 오류가 발생.

In [41]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    a = my_list[i+1] - my_list[i]
    print(a)

100
200
400

In [43]:
# 179 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333

for i in range(len(my_list)-2):
    a = my_list[i]
    b = my_list[i+1]
    c = my_list[i+2]
    print((a+b+c) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [47]:
# 180 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

## 181~190

In [51]:
# 181 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [55]:
# 182 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330

시가 = [
    100, 
    200, 
    300
]

종가 = [
    80, 
    210, 
    330
]

stock = ['시가', '종가']
stock

['시가', '종가']

-> 문제를 잘못 이해함. 다시 작성해보기

In [58]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [62]:
# 183 아래 표를 stock 이름의 딕셔너리로 표현하라.
# 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {"시가":[100, 200, 300], "종가":[80, 210, 330]}

In [64]:
# 184 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {"10/10":[80, 110, 70, 90], "10/11":[210, 230, 190, 200]}

In [72]:
# 185 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

# apart[0][0]
# apart[0][1]
# apart[1][0] 이런 식으로 출력되어야 함.

for i in range(3):
    for j in range(2):
        print(apart[i][j], "호")

101 호
102 호
201 호
202 호
301 호
302 호

- 첫 번째 리스트(row)를 먼저 꺼낸 뒤, 각 행(col)의 데이터를 하나씩 꺼내는 방식으로도 가능하다.

In [75]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [77]:
# 186 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [79]:
# 187 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [83]:
# 188 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

for row in apart:
    for col in row:
        print(col, "호")
        print("----")

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [85]:
# 189 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

for row in apart:
    for col in row:
        print(col, "호")
    print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [87]:
# 190 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----

for row in apart:
    for col in row:
        print(col, "호")

print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191~200

In [92]:
# 191 data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
# 2000.28
# 3050.427
# 2050.2870000000003
# ...

for row in data:
    for col in row:
        print(col * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [94]:
# 192 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [98]:
# 193 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    for col in row:
        result.append(col * 1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [104]:
# 194 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]

result = []
for row in data:
    a = []
    for col in row:
        a.append(col * 1.00014)
    result.append(a)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [110]:
# 195 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 190
# 310

for row in ohlc:
    for col in row:
        print(col[3])

n
h

IndexError: string index out of range

In [120]:
for row in ohlc[1::]:
    print(row[3])

100
190
310

In [122]:
# 196 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 190
# 310

for row in ohlc[1::]:
    if row[3] > 150:
        print(row[3])

190
310

In [124]:
# 197 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 310

for row in ohlc[1:]:
    if row[0] <= row[3]:
        print(row[3])

100
310

In [126]:
# 198 ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]

volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2])

print(volatility)

[40, 30, 10]

In [128]:
# 199 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.
# 10

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1] - row[2])

10

In [130]:
# 200 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.
# 0

for row in ohlc[1:]:
    a = row[3] - row[0]
    sum += a
    print(sum)

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

-> 서로 연산이 불가능한 타입끼리 연산을 시도했을 때 나타나는 오류이다.  
타입을 확인해본다.

In [133]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    a = row[3] - row[0]
    print(type(a))

<class 'int'>
<class 'int'>
<class 'int'>

-> int인데 왜 연산이 안되는지 의문..? 이었는데 초기값이 없었다.

In [137]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

sum = 0
for row in ohlc[1:]:
    a = row[3] - row[0]
    sum += a
    print(sum)

0
-10
0

-> 합이 잘 이루어지도록 for문 밖에서 print 한다.

In [139]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

sum = 0
for row in ohlc[1:]:
    a = row[3] - row[0]
    sum += a
print(sum)

0