# 파이썬 300제 : 반복문 (131~160)

## 회고
- for문은 들여쓰기된 코드가 자료구조의 데이터 개수만큼 반복된다는 사실이 중요하다는 걸 느꼈다. (140번)
- 일정한 규칙의 숫자를 뽑을 때 range를 사용하거나 연산의 나머지를 사용하는 등 다양하게 문제를 풀 수 있다는 사실이 재미있었다.
- .format 이라는 유용한 걸 배웠다!

아래는 2024.07.10(수)에 풀이한 내용입니다.

## 131~140

In [8]:
# 131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 예측하기
# 사과
# 귤
# 수박

사과
귤
수박

In [12]:
# 132 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

# 예측하기
# #####
# #####
# #####

#####
#####
#####

In [14]:
# 133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [16]:
print("A")
print("B")
print("C")

A
B
C

In [18]:
# 134 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [20]:
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [22]:
# 135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [28]:
x = "A"
b = x.lower()
print("변환:", b)

y = "B"
b = y.lower()
print("변환:", b)

z = "C"
b = z.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [30]:
# 136 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)

for i in [10, 20, 30] :
    print(i)

10
20
30

In [32]:
# 137 다음 코드를 for문으로 작성하라.

# print(10)
# print(20)
# print(30)

-> 136번과 동일한 코드이다.

In [35]:
# 138 다음 코드를 for문으로 작성하라.

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")

for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [37]:
# 139 다음 코드를 for문으로 작성하라.

# print("++++")
# print(10)
# print(20)
# print(30)

for i in ["++++", "10", "20", "30"]:
    print(i)

++++
10
20
30

-> 또는 str, int를 구분하여 작성이 가능하다.

In [40]:
print("++++")

for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [45]:
# 140 다음 코드를 for문으로 작성하라.

# print("-------")
# print("-------")
# print("-------")
# print("-------")

for i in ["-------", "-------", "-------", "-------"]:
    print(i)

-------
-------
-------
-------

-> 파이썬 for문은 들여쓰기된 코드가 자료구조의 데이터 개수만큼 반복된다. 따라서 아래와 같이 작성할 수도 있다.

In [48]:
for i in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------

## 141~150

In [53]:
# 141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

for i in 리스트:
    i = i + 10
    print(i)

110
210
310

In [55]:
# 142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
리스트 = ["김밥", "라면", "튀김"]

# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for i in 리스트:
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [63]:
# 143 리스트에 주식 종목이름이 저장돼 있다.
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.
# 6
# 4
# 4

for i in 리스트:
    print(len(i))

6
4
4

- 문자열의 길이는 len(), 문자의 개수는 count()로 센다.

In [66]:
# 144 리스트에는 동물이름이 문자열로 저장돼 있다.
리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.
# dog 3
# cat 3
# parrot 6

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [68]:
# 145 리스트에 동물 이름 저장돼 있다.
리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.
# d
# c
# p

for i in 리스트:
    print(i[0])

d
c
p

In [70]:
# 146 리스트에는 세 개의 숫자가 바인딩돼 있다.
리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.
# 3 x 1
# 3 x 2
# 3 x 3

for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [74]:
# 147 리스트에는 세 개의 숫자가 바인딩돼 있다.
리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.
# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

for i in 리스트:
    print("3 X", i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

-> 다음과 같이 문자열 함수를 활용할 수도 있다.  
원하는 형식을 str으로 작성하고 .format()을 붙인 뒤, format()안에 빈 칸에 들어갈 내용을 차례대로 넣는다.

In [77]:
리스트 = [1, 2, 3]

for i in 리스트:
    print("3 X {} = {}".format(i, i*3))

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [82]:
# 148 리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.
# 나
# 다
# 라

for i in 리스트[1:]:
    print((i))

나
다
라

In [88]:
# 149 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

for i in 리스트[::2]:
    print(i)

가
다

- 참고 : 리스트 슬라이싱에서 `[시작:끝:증감폭] ` 세번째 값은 값을 가져오는 단위(step)를 의미한다.

In [91]:
# 150 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for i in 리스트[::-1]:
    print(i)

라
다
나
가

- [파이썬 슬라이싱 참조 블로그](https://codetorial.net/tips_and_examples/list_slicing.html)

## 151~160

In [97]:
# 151 리스트에는 네 개의 정수가 저장돼 있다.
리스트 = [3, -20, -3, 44]

# for문을 사용해서 리스트의 음수를 출력하라.
# -20
# -3

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [99]:
# 152 for문을 사용해서 3의 배수만을 출력하라.
리스트 = [3, 100, 23, 44]
# 3

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [101]:
# 153 리스트에서 20 보다 작은 3의 배수를 출력하라
리스트 = [13, 21, 12, 14, 30, 18]

# 12
# 18

for i in 리스트: 
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [103]:
# 154 리스트에서 세 글자 이상의 문자를 화면에 출력하라
리스트 = ["I", "study", "python", "language", "!"]

# study
# python
# language

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [113]:
# 155 리스트에서 대문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]

# A
# D

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [115]:
# 156 리스트에서 소문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]

# b
# c

for i in 리스트: 
    if i.islower():
        print(i)

b
c

In [119]:
#157 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot

for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [127]:
# 158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. 

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro

for i in 리스트: 
    print(i.split(".")[0])

hello
ex01
intro

In [4]:
# 159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h

for i in 리스트:
    if i.split(".")[1] == "h":
        print(i)

intra.h
define.h

In [8]:
# 160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h

for i in 리스트:
    if (i.split(".")[1] == "h") or (i.split(".")[1] == "c"):
        print(i)

intra.h
intra.c
define.h

## 161~170

In [13]:
# 161 for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [16]:
# 162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

- range(start, stop, step) : start부터 stop-1까지 step 간격으로 생성

In [20]:
# 163 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for i in range(1, 31):
    if i % 3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

- if문 없이 range만 사용한다면 아래와 같다.

In [25]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [33]:
# 164 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
list = []

for i in range(0, 100):
    list = i.append()
    list[::-1]
    print(list)

AttributeError: 'int' object has no attribute 'append'

In [35]:
# 다른 간단한 방식으로 풀기

for i in range(0, 100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [41]:
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for i in range(10):
    print(f"0.{i}")

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [43]:
# 연산을 활용하여 다르게 풀어본다.
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [47]:
# 166 구구단 3단을 출력하라.

for i in range(1, 10):
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [51]:
# 167 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

for i in range(1, 10):
    if i % 2 == 1:
        print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [53]:
# range를 활용해 다시 풀어본다.
for i in range(1, 10, 2):
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [55]:
# 168 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
# 합 : 55

for i in range(1, 10):
    i += i
    print(i)

2
4
6
8
10
12
14
16
18

-> 뭔가 이상하다. 합이 for문 밖에서 이뤄져야 할 것 같은데 일단 시도. range도 10까지 포함되도록 재설정 한다.

In [2]:
for i in range(1, 11):
    sum += i
print(sum)

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

In [ ]:
-> 초기값 설정을 하지 않아서 그런 듯하여 다시 시도.

In [4]:
sum = 0

for i in range(1, 11):
    sum += i
print(sum)

55

In [6]:
# 169 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
# 합: 25

odd_sum = 0

for odd in range(1, 10, 2):
    odd_sum += odd
print(odd_sum)

25

In [10]:
# 170 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

multiply = 1

for num in range(1, 11):
    multiply *= num
print(multiply)

3628800